services:
  devops-api:
    build:
      context: ..
      dockerfile: devops/api/Dockerfile
    container_name: devops-api
    ports:
      - "8081:5000"
    environment:
      - FLASK_ENV=development
    volumes:
      - ..:/devops-app
      - /var/run/docker.sock:/var/run/docker.sock