services:
  devops-app:
    build:
      context: ..
      dockerfile: devops/api/Dockerfile
    container_name: devops-app
    ports:
      - "8081:5000"
    environment:
      - FLASK_ENV=development
      - PROJECT_ROOT=${PROJECT_ROOT}  
    volumes:
       - ${PROJECT_ROOT}:${PROJECT_ROOT}
      - /var/run/docker.sock:/var/run/docker.sock