services:
  devops-app:
    build:
      context: ..
      dockerfile: devops/api/Dockerfile
    ports:
      - "${DEVOPS_PORT}:5000"
    environment:
      - DEVOPS_PORT=${DEVOPS_PORT}
      - FLASK_ENV=development
      - PROJECT_ROOT=${PROJECT_ROOT}  
      - WEBHOOK_SECRET=${WEBHOOK_SECRET} 
    volumes:
       - ${PROJECT_ROOT}:${PROJECT_ROOT}
       - /var/run/docker.sock:/var/run/docker.sock